////////////
// Layout //
////////////

$bodyTopBottomMargin: 1em;
$bodySideMargin: 2em;
$bodyMaxWidth: 700px;

$headerMobileBreakpoint: 500px;
$headerBottomPadding: 1em;
$headerImageHeight: 5em;
$headerImageRightMargin: 1em;
$headerTextFontSize: 2em;
$headerMobileTextFontSize: 1.5em;
$headerNavTopMargin: 1em;
$headerNavFontSize: 1.3em;
$headerNavSeparatorSideMargin: 0.2em;
$headerNavMobileBreakpoint: 350px;
$headerNavLinkTopBottomPadding: 0.1em;
$headerNavLinkSidePadding: 0.3em;

$footerTopMargin: 2em;
$footerTopPadding: 1em;
$footerColumnMarginBetween: 2em;
$footerMobileBreakpoint: 460px;
$footerMobileMiddleColumnTopMargin: 0.75em;
$footerListElementMarginBetween: 0.5em;
$footerListLinkImageHeight: 1.5em;

////////////
// Styles //
////////////

$sectionDividerColor: #CCC;

$titleFont: Verdana;
$titleColor: #333;

$textFont: Georgia;
$textColor: #555;

$primaryAccentColor: #008000;
